<div class="background">
	
	<h1>ユーザ詳細</h1>

	<!-- <p>Find me in app/views/users/show.html.erb</p> -->

	<div class="flexcontainer">

		<!-- flexboxでレイアウト調整のため追加↓ -->
		<table class="flexitem">
		</table>
		<!-- レイアウト調整ここまで -->

		<table class="flexitem">
			<thead>
				<tr>
					<th>ユーザ名:</th>
					<th><%= @user.name %></th>
				</tr>
				<tr>
					<th>ユーザイメージ:</th>
					<th><%= attachment_image_tag @user, :profile_image, :fill, 200, 200, fallback: "no_image.jpg", size: "200x200" %></th>
				</tr>
				<tr>
					<th>紹介文:</th>
					<td><%= @user.introduction %></td>
				</tr>
			</thead>
		</table>

		<!-- flexboxでレイアウト調整のため追加↓ -->
		<table class="flexitem">
		</table>
		<!-- レイアウト調整ここまで -->

	</div>

	<br>

	<div class="flexcontainer">
		<div class="flexitem">
		</div>

		<div class="flexitem">
			<button type="btn"><%= link_to "ユーザ編集", edit_user_path, class: 'btn btn-default' %>
			</button>
		</div>
	</div>

	<h1>投稿物件一覧</h1>
	<!-- <p>Find me in app/views/rooms/index.html.erb</p> -->

	<table class="table">
		<thead>
			<tr>
				<th>物件名</th>
				<th></th>
				<th>住所</th>
				<th>居住年数</th>
			</tr>
		</thead>

		<tbody>

		<% @user.rooms.each do |f| %>

			<tr>
				<td>
					<%= link_to room_path(f.id) do %>
					<%= f.name %>
					<% end %>
				</td>
				<td>
					<%= link_to room_path(f.id) do %>
					<%= attachment_image_tag f.room_images[0], :image, :fill, 200, 150, fallback: "no_image.jpg", size: '200x150' %>
					<% end %>
				</td>
				<td><%= f.address %></td>
				<td><%= f.living_status %></td>
			</tr>

		<% end %>

		</tbody>
	</table>


</div>
