<h1>物件一覧</h1>
<!-- <p>Find me in app/views/rooms/index.html.erb</p>
 -->
<table class="table">
	<thead>
		<tr>
			<th>物件名</th>
			<th></th>
			<th>住所</th>
			<th>居住年数</th>
		</tr>
	</thead>

	<tbody>

	<% @rooms.each do |f| %>

		<tr>
			<td><%= f.name %></td>
			<% if f.room_images.present? %>
			<td><%= attachment_image_tag f.room_images, :image, :fill, 200, 200 %></td>
			<% else %>
			<td><%= image_tag 'no_image.jpg', size: '200x200' %></td>
			<% end %>
			<td><%= f.address %></td>
			<td><%= f.living_status %></td>
		</tr>

	<% end %>

	</tbody>

