<div class="background2">
	
	<h2>物件検索結果</h2>

	<table class="table">
		<thead>
			<tr>
				<th>物件名</th>
				<th></th>
				<th>住所</th>
				<th>居住年数</th>
			</tr>
		</thead>

			<tbody>

				<% @rooms.each do |room| %>

				<tr>
					<td>
						<%= link_to room_path(room.id) do %>
							<%= room.name %>
						<% end %>
					</td>
					<td>
						<%= link_to room_path(room.id) do %>
							<%= attachment_image_tag room.room_images[0], :image, :fill, 200, 150, fallback: "no_image.jpg", size: '200x150' %>
						<% end %>
					</td>
					<td><%= room.address %></td>
					<td><%= room.living_status %></td>
				</tr>

				<% end %>

			</tbody>
	</table>
	
</div>