<header class="navbar navbar-fixed-top navbar-default">

    <% if user_signed_in? %>
      <div class="flexcontainer">
        <div class="flexitem item1"><%= link_to "Home", user_path(current_user) %></div>
        <div class="flexitem item2"><%= link_to "Rooms", rooms_path %></div>
        <div class="flexitem item3"><%= link_to "Post", new_room_path %></div>
        <div class="flexitem item4"><%= link_to "Sign_out", destroy_user_session_path, method: :delete %></div>
      </div>

    <% else %>
      <div class="flexcontainer">
        <div class="flexitem item1"><%= link_to "Home", root_path %></div>
        <div class="flexitem item2"><%= link_to "About", home_about_path %></div>
        <div class="flexitem item3"><%= link_to "Sign_in", new_user_session_path %></div>
        <div class="flexitem item4"><%= link_to "Sign_up", new_user_registration_path %>
        </div>
      </div>

    <% end %>

</header>

